.blurred {
    filter: blur(5px);
    pointer-events: none;
    z-index: 0;
}

header {
    position: relative;
    margin-bottom: 5%;
    z-index: 5;
}

.fix {
    z-index: 10;
    position: sticky;
    width: 100%;
    top: 0;
}

body {
    background-color: hsla(180, 53%, 19%, 0.6) !important;
    height: 100%;
}

#gallery-title {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#gallery-title h2 {
    font-family: "Special Gothic Expanded One", sans-serif;
}

main {
    z-index: 6;
}

#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 3%;
    background-color: #174b4c;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
}

#gallery img {
    margin: 10px;
    z-index: 6;
    border-radius: 10px;
    max-height: 400px;
}

#gallery img:hover {
    box-shadow: 6px 6px 10px #d7520a;
    cursor: pointer;
    scale: 1.01;
    transition: box-shadow, scale 0.4s ease;
}

.image-button {
    border-radius: 50%;
}

.image-button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #d7520a;
    scale: 1.05;
    transition: box-shadow, scale 0.4s ease;
}

#background {
    pointer-events: none;
    position: fixed;
    display: block;
    overflow: hidden;
    width: 100%;
    height: inherit;
    z-index: 1;
}

nav {
    font-family: "Special Gothic Expanded One", sans-serif;
    text-align: center;
    min-width: 650px;
    background-color: #174b4c;
    border-bottom: solid 4px #d7520a;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

#timer {
    min-width: 400px;
    font-size: 150%;
    background-color: #fff;
    padding: 4px;
    z-index: 5;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    main {
        min-width: 650px;
    }

    #gallery img {
        max-height: 200px;
    }

    #gallery {
        min-width: 650px;
    }

    #timer {
        font-size: 100%;
    }

    #contact-button {
        font-size: 100%;
    }
}

@media screen and (max-width: 600px) {
    #background {
        display: none;
    }
}